.spinner-button {
  position: relative;
  padding: 10px 20px;
  background-color: #4a86e8; /* Change this to your desired background color */
  color: #ffffff; /* Change this to your desired text color */
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.spinner-button.loading .spinner {
  border-top-color: white;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
