@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.container {
  @apply max-w-[1320px] mx-auto px-10 lg:px-20 md:px-16;
}

.sidebar-head {
  @apply flex flex-col overflow-y-auto duration-300 ease-linear;
}
.sidebar-nav {
  @apply py-4 px-4 lg:mt-2 lg:px-6;
}

.sidebar-menu-item {
  @apply relative flex items-center gap-3 rounded-sm py-2 px-4 font-medium text-black  hover:bg-slate-300 duration-300 ease-in-out dark:text-bodyDark1 dark:hover:bg-meta-4;
}

.sidebar-submenu-item {
  @apply relative flex items-center gap-3 rounded-sm py-2 ps-12 pe-8 font-medium duration-300 ease-in-out text-black hover:bg-slate-300 dark:text-bodyDark1  dark:hover:bg-meta-4;
}

/* Sidebar style end*/

/* Drop Down style start*/

.dropdown {
  @apply absolute right-0 mt-4 flex w-60 flex-col rounded-sm border text-black border-stroke bg-white shadow dark:text-white dark:border-strokedark dark:bg-boxDark -translate-y-96 transition-all duration-500 ease-linear;
}

.dropdown-item {
  @apply flex items-center gap-3 text-sm font-medium duration-300 ease-in-out hover:text-primary lg:text-base;
}
/* Drop Down style end*/

/* width  */
::-webkit-scrollbar {
  width: 0;
  height: 8px;
}
