.featured {
  background: linear-gradient(
      0deg,
      rgba(21, 21, 21, 0.7) 0%,
      rgba(21, 21, 21, 0.7) 100%
    ),
    url("./../../assets/home/featured.jpg"), lightgray 50% / cover no-repeat;
  min-height: 800px;
  background-attachment: fixed;
}
